body {
    background-color: #ffffff;
    font-family: $primary-font;
}

a {
    text-decoration: none;
    color: $primary-color;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $primary-color;
}

h2 {
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 16px;
}

h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
}

h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.section-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1248px;
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    height: 53px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-button {
    width: 500px;
    background: #000000;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

.search {
    max-width: 261px;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 42px;
    display: flex;
    padding-bottom: 10px;
    input {
        width: 100%;
        border: none;
        font-size: 14px;
        line-height: 22px;
        outline: none;
        color: $gray;
    }
}

.product-item {
    margin-bottom: 86px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .image-wrapper {
        position: relative;
        .actions {
            opacity: 0;
            background: rgba(255, 255, 255, 0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            i {
                padding: 14px;
                cursor: pointer;
                font-size: 20px;
            }
            button {
                width: 100%;
                border: none;
                width: 380px;
                height: 65px;
                border: none;
                position: absolute;
                bottom: 0;
                cursor: pointer;
            }
        }
    }
    h5 {
        margin-top: 21px;
        margin-bottom: 18px;
    }
    .price {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #a18a68;
    }
    &:hover {
        .actions {
            opacity: 1;
        }
    }
}

.tab-content {
    display: none;
    &.is-open {
        display: block !important;
    }
}

.stars {
    .icon-star {
        color: #000000;
        cursor: pointer;
        &.is-active {
            color: #a18a68;
        }
    }
}

.amount-input {
    background: #efefef;
    color: $gray;
    border-radius: 4px;
    width: 102px;
    height: 53px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    cursor: pointer;
    input {
        width: 20px;
        height: 27px;
        outline: none;
        border: none;
        background-color: #efefef;
        color: $gray;
    }
}

.range-slider {
    .irs-line,
    .irs-bar {
        height: 2px;
    }
    .irs-bar {
        background-color: black;
    }
    .irs-handle {
        i {
            height: 9px !important;
            &:first-child {
                background-color: black !important;
            }
        }
    }
}
.form {
    margin-bottom: 24px;
    color: #707070;
    .form-item {
        position: relative;
        margin-bottom: 40px;
        border-bottom: solid 1px #ccc;
        input {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            outline: none;
            transition: all 0.3s ease;
            padding: 0 15px;
            &:focus {
                border-color: black;
            }
        }
        label {
            position: absolute;
            cursor: text;
            z-index: 2;
            top: 13px;
            left: 10px;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.3s ease;
        }
        i {
            position: absolute;
            top: 17px;
            right: 5px;
        }
    }
}

.form-item input:focus + label,
.form-item input:valid + label {
    font-size: 11px;
    top: -5px;
}
.form-item input:focus + label {
    color: black;
}

.dropdown {
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin-bottom: 17px;
    position: relative;
    &.is-open {
        .list {
            display: block;
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 22px;
        color: $primary-color;
        box-sizing: border-box;
        height: 50px;
        &:hover {
            background-color: #a18a68;
            color: white;
        }
        .text {
            padding: 14px;
        }
        i {
            margin-top: 14px;
            font-size: 8px;
            margin-right: 9px;
        }
    }
    .list {
        display: none;
        margin-top: 0;
        position: absolute;
        top: 49px;
        left: -1px;
        width: 100%;
        background: #fff;
        z-index: 10;
        border: 1px solid #d8d8d8;
        ul {
            width: 100%;
            li {
                border-top: 1px solid #d8d8d8;
                height: 34px;
                font-size: 13px;
                padding: 11px;
                box-sizing: border-box;
                &:hover {
                    background-color: #a18a68;
                    color: white;
                }
            }
        }
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 18px;
    .wrap {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        align-items: center;
        nav {
            border-right: 1px solid #707070;
            padding-right: 49px;
            margin-top: -3px;
            ul {
                display: flex;
                li {
                    box-sizing: border-box;
                    margin-right: 65px;
                    line-height: 17px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .list {
            display: flex;
            margin-left: 45px;
            li {
                margin-left: 39px;
                i {
                    font-size: 21px;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:active {
                    border-bottom: 2px solid #000000;
                }
            }
        }
    }
    .hamburger {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 44px;
        height: 27px;
    }
}

.home-hero {
    background-image: url(../public/images/home-hero/home-hero.png);
    background-repeat: no-repeat;
    height: 646px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 37px;
    .price {
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 48px;
    }
    button {
        width: 193px;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        &:hover {
        }
    }
}

.products {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    margin-bottom: 164px;
    .wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        .view-all {
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #a18a68;
            display: flex;
            align-items: center;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.article {
    h3 {
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 39px;
    }
    img {
        margin-top: 23px;
        margin-bottom: 48px;
    }
    ul {
        list-style: inside;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 39px;
        margin-left: 25px;
    }
}

.main-footer {
    border-top: 1px solid #d8d8d8;
    max-width: 1248px;
    margin-bottom: 92px;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    .footer-top {
        margin-top: 53px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        color: $gray;
        ul {
            display: flex;
            max-width: 486px;
            width: 100%;
            justify-content: space-between;
            cursor: pointer;
        }
        .email {
            font-weight: 396px;
            color: #707070;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 400px;
            width: 100%;
            margin-top: -26px;
            border-bottom: 1px solid #000000;
            input {
                width: 100%;
                border: none;
                font-size: 16px;
                line-height: 27px;
                outline: none;
            }
            i {
                font-size: 9px;
                cursor: pointer;
            }
        }
    }
    .footer-bottom {
        margin-top: 47px;
        display: flex;
        justify-content: space-between;
        .text {
            color: $gray;
            span {
                color: $primary-color;
            }
        }
        .networks {
            i {
                color: $gray;
                margin-left: 30px;
            }
        }
    }
}

.shop {
    @include section-visual-size;
    margin-bottom: 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        .side-bar {
            max-width: 261px;
            width: 100%;
            margin-right: 38px;
            .dropdowns-wrapper {
                margin-top: 38px;
                // .dropdown {
                //     cursor: pointer;
                //     border: 1px solid #d8d8d8;
                //     border-radius: 4px;
                //     margin-bottom: 17px;
                //     position: relative;
                //     &.is-open {
                //         .list {
                //             display: block;
                //         }
                //     }
                //     .title {
                //         display: flex;
                //         justify-content: space-between;
                //         font-size: 14px;
                //         line-height: 22px;
                //         color: $primary-color;
                //         box-sizing: border-box;
                //         height: 50px;
                //         &:hover {
                //             background-color: #a18a68;
                //             color: white;
                //         }
                //         .text {
                //             padding: 14px;
                //         }
                //         i {
                //             margin-top: 14px;
                //             font-size: 8px;
                //             margin-right: 9px;
                //         }
                //     }
                //     .list {
                //         display: none;
                //         margin-top: 0;
                //         position: absolute;
                //         top: 49px;
                //         left: -1px;
                //         width: 100%;
                //         background: #fff;
                //         z-index: 10;
                //         border: 1px solid #d8d8d8;
                //         ul {
                //             width: 100%;
                //             li {
                //                 border-top: 1px solid #d8d8d8;
                //                 height: 34px;
                //                 font-size: 13px;
                //                 padding: 11px;
                //                 box-sizing: border-box;
                //                 &:hover {
                //                     background-color: #a18a68;
                //                     color: white;
                //                 }
                //             }
                //         }
                //     }
                // }
            }
            .range-slider-input {
                margin-top: 25px;
                height: 1px;
            }
            .price-range {
                margin-top: 14px;
                font-size: 14px;
                line-height: 22px;
                color: $gray;
            }
            .switch {
                margin-top: 39px;
                .sale-switch,
                .stock-switch {
                    margin-bottom: 51px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    display: flex;
                    justify-content: space-between;
                    input[type="checkbox"] {
                        height: 0;
                        width: 0;
                        visibility: hidden;
                    }
                    label {
                        cursor: pointer;
                        width: 33px;
                        height: 20px;
                        background: grey;
                        display: block;
                        border-radius: 100px;
                        position: relative;
                    }
                    label:after {
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 10px;
                        height: 10px;
                        background: #fff;
                        border-radius: 90px;
                        transition: 0.7s;
                    }
                    input:checked + label {
                        background: #a18a68;
                    }

                    input:checked + label:after {
                        left: calc(100% - 5px);
                        transform: translateX(-100%);
                    }

                    label:active:after {
                        width: 130px;
                    }
                }
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 84px;
            .product-item {
                max-width: 300px;
                img {
                    width: 300px;
                    height: 300px;
                }
                .actions button {
                    max-width: 100%;
                }
            }
        }
    }
}

.privacy {
    @include section-visual-size;
    .wrap {
        max-width: 654px;
        margin-left: auto;
        margin-right: auto;
        h2 {
            text-align: center;
            margin-bottom: 39px;
        }
        p {
            margin-bottom: 39px;
        }
        h3 {
            margin-bottom: 24px;
        }
        ul {
            list-style: inside;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
        }
    }
}

.about {
    @include section-visual-size;
    h2,
    .sub-title {
        text-align: center;
    }
    h2 {
        margin-bottom: 24px;
    }
    .sub-title {
        margin-bottom: 46px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
    .wrap {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;

        img {
            margin-top: 23px;
            margin-bottom: 48px;
        }
    }
}

.not-found {
    border-top: $primary-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    .text {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $gray;
        max-width: 436px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 64px;
    }
    .button {
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        width: 187px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }
}

.product {
    margin-bottom: 250px;
    position: relative;
    .message {
        border-top: 2px solid #a18a68;
        height: 68px;
        background: #efefef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        &.is-open {
            opacity: 1;
        }
        .text {
            font-size: 16px;
            margin-left: 39px;
            display: flex;
            i {
                color: #a18a68;
                margin-right: 10px;
            }
        }
        .button {
            color: #a18a68;
            border: none;
            margin-right: 23px;
        }
    }
    .products-wrapper {
        border-top: 1px solid #d8d8d8;
        padding-top: 128px;
        display: flex;
        justify-content: space-between;
        .list {
            display: flex;
            flex-direction: row;
            .small-imgs {
                display: flex;
                flex-direction: column;
                margin-right: 40px;
                img {
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .big-img {
                .line {
                    width: 540px;
                    border: 2px solid #d8d8d8;
                    margin-top: 24px;
                    position: relative;
                    .black-line {
                        position: absolute;
                        width: 207px;
                        border: 2px solid #707070;
                        top: -2;
                        left: -2;
                    }
                }
            }
        }
    }
    .info {
        max-width: 484px;
        .price {
            font-size: 20px;
            line-height: 26px;
            color: #a18a68;
            margin-top: 23;
            margin-bottom: 70px;
        }
        .star-rating {
            display: flex;
            margin-bottom: 19px;
            cursor: pointer;
            span {
                margin-left: 24px;
                color: $gray;
                font-size: 16px;
            }
        }
        p {
            margin-bottom: 48px;
            color: $gray;
        }
        .backet-card {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            .amount-input {
                input {
                    text-align: center;
                }
            }
            .button {
                width: 360px;
                border: 1px solid #000000;
                border-radius: 4px;
            }
        }
        .networks {
            margin-bottom: 39px;
            display: flex;
            align-items: center;
            i {
                cursor: pointer;
                &.is-liked {
                    color: red;
                }
            }
            .line {
                border: 1px solid #d8d8d8;
                transform: rotate(90deg);
                width: 19.5px;
                height: 0px;
                margin-right: 15px;
                margin-left: 39px;
            }
            a {
                margin-left: 24px;
                color: $gray;
                .icon-heard,
                .icon-envelope {
                    margin-left: 0px;
                    cursor: pointer;
                }
            }
        }
        .text-info {
            margin-bottom: 6px;
            color: $gray;
            span {
                color: #000000;
                margin-right: 16px;
            }
        }
    }
    .product-info {
        position: relative;
        margin-top: 99px;
        color: $gray;
        margin-bottom: 96px;
        ul {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #d8d8d8;
            li {
                margin-right: 96px;
                cursor: pointer;
                padding-bottom: 34px;
                border-bottom: 1px solid transparent;
                &.is-active,
                &:hover {
                    color: #000000;
                    border-color: #000000;
                }
            }
        }

        .tab-1,
        .tab-2,
        .tab-3 {
            margin-top: 39px;
        }

        .tab-1 {
            p {
                color: $gray;
            }
        }
        .tab-2 {
            .filter {
                margin-bottom: 15px;
                span {
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
        }
        .tab-3 {
            .reviews {
                padding-top: 42px;
                display: flex;
                justify-content: space-between;
                .coments {
                    max-width: 580px;
                    h5 {
                        margin-bottom: 76px;
                    }
                    .item {
                        padding-bottom: 39px;
                        border-bottom: 1px solid #d8d8d8;
                        &:last-child {
                            border-bottom: none;
                            margin-top: 24px;
                        }
                        .top {
                            color: black;
                            font-size: 20px;
                            line-height: 26px;
                            margin-bottom: 16px;
                            span {
                                font-size: 14px;
                                line-height: 22px;
                                color: #707070;
                                margin-left: 16px;
                            }
                        }
                    }
                }
                .reply {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    line-height: 22px;
                    h5 {
                        margin-bottom: 11px;
                    }
                    .sub-title {
                        font-size: 13px;
                        line-height: 30px;
                        margin-bottom: 46px;
                    }

                    .text {
                        display: flex;
                        align-items: center;
                        .form-group {
                            display: block;
                            width: 18px;
                            height: 18px;
                            margin-right: 8px;
                            input {
                                cursor: pointer;
                            }
                        }
                    }
                    .star-rating {
                        margin-top: 46px;
                        .stars {
                            padding-top: 13px;
                        }
                    }
                    .button {
                        width: 123px;
                        border: 1px solid #ffffff;
                        border-radius: 4px;
                        background: #000000;
                        color: white;
                        font-size: 16px;
                        margin-top: 48px;
                    }
                }
            }
        }
    }
    .similar-items {
        .list {
            display: flex;
            justify-content: space-between;
            margin-top: 47px;
            .product-item {
                max-width: 380px;
            }
        }
    }
}
.contact-bar {
    margin-top: 125px;
    margin-bottom: 253px;
    @include flex-horizontal-center;
    .message {
        margin-top: 39px;
        margin-bottom: 108px;
        max-width: 482px;
        text-align: center;
        font-size: 20px;
        line-height: 26px;
    }
    .form {
        max-width: 900px;
        width: 100%;
        .name,
        .email {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }
        .form-item {
            max-width: 398px;
            width: 100%;
            &:last-child {
                display: flex;
                i {
                    cursor: pointer;
                    display: flex;
                    font-size: 5px;
                    margin-bottom: 18px;
                    align-items: flex-end;
                }
            }
            .subject-wrapper {
                position: relative;
                width: 100%;
                font-size: 12px;
                font-weight: bold;
                display: flex;
                align-items: flex-end;
                &.is-open {
                    .list {
                        display: block;
                    }
                }
                .title {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    i {
                        cursor: pointer;
                    }
                }
                .list {
                    display: none;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    background: #fff;
                    z-index: 10;
                    border: 1px solid #d8d8d8;
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            border-top: 1px solid #d8d8d8;
                            height: 34px;
                            font-size: 13px;
                            padding: 11px;
                            box-sizing: border-box;
                            &:hover {
                                background-color: #a18a68;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .button {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .form-message {
        margin-top: 80px;
        .form-item {
            max-width: 900px;
        }
    }
}

.reset-password {
    @include flex-horizontal-center;
    margin-top: 128px;
    margin-bottom: 253px;
    .message {
        margin-top: 39px;
        margin-bottom: 76px;
        max-width: 439px;
        text-align: center;
    }
    .form {
        max-width: 500px;
        width: 100%;
        margin-bottom: 64px;
    }
}

.account {
    @include flex-horizontal-center;
    margin-top: 128px;
    margin-bottom: 250px;
    .buttons {
        background: #efefef;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        margin-bottom: 126px;
        .button {
            width: 236px;
            border: none;
            font-size: 20px;
            line-height: 26px;
            &.is-active {
                background: #ffffff;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                height: 50px;
            }
        }
    }
    .form {
        max-width: 500px;
        width: 100%;
        margin-bottom: 69px;
        label {
            font-size: 16px;
        }
        .text {
            display: flex;
            font-size: 16px;
            color: #000000;
            input {
                margin-right: 8px;
            }
        }
    }
    .message {
        margin-top: 13px;
        cursor: pointer;
    }
}

.blog {
    @include section-visual-size;
    display: flex;
    justify-content: space-between;
    .side-bar {
        max-width: 262px;
        width: 100%;
        .search {
            margin-top: 36px;
            margin-bottom: 62px;
        }
    }
    .side-menu {
        ul {
            margin-top: 22px;
            li {
                margin-bottom: 10px;
                a {
                    color: $gray;
                    font-size: 16px;
                    &:hover {
                        color: #a18a68;
                    }
                }
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        max-width: 950px;
        justify-content: space-between;
        .post {
            max-width: 450px;
            margin-bottom: 64px;
            .date {
                color: $gray;
                margin-top: 22px;
                margin-bottom: 5px;
                font-size: 14px;
            }
            p {
                color: $gray;
                margin-top: 14px;
                margin-bottom: 24px;
            }
            .button {
                a {
                    color: #a18a68;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .buttons-wrap {
            max-width: 136px;
            width: 100%;
            justify-content: space-between;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            .button {
                width: 40px;
                height: 40px;
                border: 1px solid #d8d8d8;
                border-radius: 4px;
                i {
                    font-size: 10px;
                }
                &.is-active {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }
}

.blog-content {
    @include section-visual-size;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .date {
            font-size: 16px;
            color: $gray;
            margin-top: 16px;
            margin-bottom: 39px;
            span {
                color: $primary-color;
            }
        }
        p {
            max-width: 600px;
            margin: 64px 0 58px;
        }
        .article {
            p {
                margin-top: 24px;
                margin-bottom: 16px;
            }
        }
        .connect {
            max-width: 670px;
            width: 100%;
            padding-bottom: 44px;
            border-bottom: 1px solid #d8d8d8;
            display: flex;
            justify-content: space-between;
            margin-top: 92px;
            .tags {
                max-width: 276px;
                span {
                    color: $gray;
                }
            }
            .tags,
            .share {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .line {
                    border: 1px solid #000000;
                    width: 64px;
                    height: 0px;
                }
            }
            .share {
                max-width: 218px;
                .networks {
                    a {
                        color: $gray;
                        cursor: pointer;
                        margin-right: 20px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .reply {
            color: $gray;
            margin-top: 48px;
            max-width: 670px;
            width: 100%;
            h3 {
                line-height: 34px;
                margin-bottom: 16px;
                color: $primary-color;
            }
            .message {
                font-size: 14px;
                margin-bottom: 74px;
            }
            .form-item {
                margin-bottom: 50px;
                position: relative;
                i {
                    position: absolute;
                    top: 16px;
                    right: 7px;
                    color: #d8d8d8;
                    cursor: pointer;
                }
            }
            .text {
                display: flex;
                align-items: center;
                font-size: 12px;
                input {
                    width: 18px;
                    height: 18px;
                }
                label {
                    margin-right: 8px;
                }
            }
            .comment {
                margin-top: 74px;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                position: relative;
                i {
                    position: absolute;
                    bottom: 8px;
                    right: 10px;
                    color: #d8d8d8;
                    cursor: pointer;
                }
                label {
                    padding-bottom: 60px;
                }
                input {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #d8d8d8;
                }
            }
            .black-button {
                margin-top: 64px;
                width: 197px;
            }
        }
        .comments {
            margin-top: 68px;
            .list {
                margin-top: 42px;
                .item {
                    display: flex;
                    flex-direction: column;
                    max-width: 670px;
                    border-bottom: 1px solid #d8d8d8;
                    margin-bottom: 39px;
                    &:last-child {
                        border-bottom: none;
                    }
                    .wrap,
                    .item-comment {
                        display: flex;
                        .user {
                            margin-left: 24px;
                            .top {
                                display: flex;
                                position: relative;
                                .reply-icon {
                                    display: flex;
                                    position: absolute;
                                    top: 8px;
                                    right: 5px;
                                    color: $gray;
                                    font-size: 13px;
                                    align-items: center;
                                    cursor: pointer;
                                    i {
                                        margin-right: 8px;
                                    }
                                }
                                .name {
                                    font-size: 20px;
                                    line-height: 26px;
                                    margin-right: 16px;
                                }
                                .date {
                                    font-size: 14px;
                                    margin-top: 9px;
                                }
                            }
                            p {
                                margin-top: -26px;
                                color: $gray;
                            }
                        }
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                    .item-comment {
                        max-width: 576px;
                        margin-left: 90px;
                    }
                }
            }
        }
    }
}
.account-menu {
    @include section-visual-size;
    h2 {
        text-align: center;
    }
    .tabs-block {
        margin-top: 64px;
        .tabs-menu {
            display: flex;
            border-bottom: 1px solid #d8d8d8;
            li {
                margin-right: 49px;
                cursor: pointer;
                font-size: 20px;
                color: $gray;
                padding-bottom: 34px;
                border-bottom: 1px solid transparent;
                &.is-active,
                &:hover {
                    color: #000000;
                    border-color: #000000;
                }
            }
        }
        .tab-content {
            margin-top: 39px;
            font-size: 16px;
            .wrap {
                .greeting {
                    margin-bottom: 15px;
                    a {
                        color: #a18a68;
                    }
                }
                .message {
                    span {
                        cursor: x;
                        color: #a18a68;
                    }
                }
            }
            .message-orders {
                display: flex;
                justify-content: space-between;
                background: #efefef;
                box-sizing: border-box;
                padding: 20px 40px;
                align-items: center;
                max-height: 68px;
                border-top: 2px solid #a18a68;
                .button {
                    border: none;
                    color: #a18a68;
                    font-weight: bold;
                }
            }
            .account-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    margin-bottom: 37px;
                }
                .form {
                    max-width: 500px;
                    width: 100%;
                    margin-bottom: 64px;
                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                        margin-top: 48px;
                        margin-bottom: 41px;
                    }
                }
            }
            .address-wrap {
                display: flex;
                .billing-address {
                    max-width: 580px;
                    width: 100%;
                    h3 {
                        margin-bottom: 24px;
                    }
                    .username {
                        .form {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .form-item {
                                max-width: 270px;
                                width: 100%;
                            }
                        }
                    }
                    .form {
                        .form-item {
                            .dropdown {
                                border: none;
                                margin-bottom: 0;
                                .title {
                                    &:hover {
                                        background-color: white !important;
                                        color: $gray;
                                    }
                                    i {
                                        margin-top: 5px;
                                        margin-right: 0;
                                        color: $gray;
                                    }
                                    .text {
                                        font-size: 12px;
                                        color: $gray;
                                        font-weight: bold;
                                        padding-left: 11px;
                                    }
                                }
                            }
                            i {
                                font-size: 11px;
                                &.icon-arrow-bottom {
                                    font-size: 7px;
                                }
                            }
                        }
                    }
                    .button {
                        max-width: 244px;
                        margin-top: 64px;
                    }
                }
                .shipping-adress {
                    margin-left: 105px;
                    .button {
                        color: #a18a68;
                        font-size: 16px;
                        margin-top: 24px;
                        margin-bottom: 14px;
                    }
                    .message {
                        font-size: 14px;
                        color: $gray;
                    }
                }
            }
        }
    }
}
