<div class="item">
    <div class="wrap">
        <img src="../public/images/blog-no-sidebar/Img 03.png" alt="" />
        <div class="user">
            <div class="top">
                <div class="name">Scarlet withch</div>
                <div class="date">6 May, 2020</div>
                <div class="reply-icon">
                    <i class="icon-arrow-reply"></i>
                    Reply
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet.
            </p>
        </div>
    </div>
    <div class="item-comment">
        <img src="../public/images/blog-no-sidebar/Img 05.jpg" alt="" />
        <div class="user">
            <div class="top">
                <div class="name">Scarlet withch</div>
                <div class="date">6 May, 2020</div>
                <div class="reply-icon">
                    <i class="icon-arrow-reply"></i>
                    Reply
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet.
            </p>
        </div>
    </div>
</div>
