<header class="main-header section-center">
    <a class="logo" href="/">
        <img src="../public/images/logo.svg" alt="logo" />
    </a>
    <div class="wrap">
        <nav>
            <ul>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="./about.html">Our Story</a></li>
            </ul>
        </nav>
        <ul class="list">
            <li>
                <a href="#">
                    <i class="icon-search"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-shopping-cart"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-profile"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>
