<div class="products-wrapper">
    <div class="list">
        <div class="small-imgs">
            <img src="../public/images/products/product.png" alt="" />
            <img src="../public/images/products/product.png" alt="" />
            <img src="../public/images/products/product.png" alt="" />
            <img src="../public/images/products/product.png" alt="" />
        </div>
        <div class="big-img">
            <img src="../public/images/products/product2.png" alt="" />
            <div class="line">
                <div class="black-line"></div>
            </div>
        </div>
    </div>
    <div class="info">
        <h5>Lira Earrings</h5>
        <div class="price">$ 20,00</div>
        <div class="star-rating">
            <div class="stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
            </div>
            <span>1 customer review</span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            placerat, augue a volutpat hendrerit, sapien tortor faucibus augue,
            a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis
            consequat sed eu felis.
        </p>
        <div class="backet-card">
            <div class="amount-input">
                <div class="minus">-</div>
                <input type="text" value="1" />
                <div class="plus">+</div>
            </div>
            <button class="button">ADD TO CART</button>
        </div>
        <div class="networks">
            <i class="icon-heard"></i>
            <div class="line"></div>
            <a href="#"> <i class="icon-envelope"></i></a>
            <a href="#"> <i class="icon-facebook"></i></a>
            <a href="#"> <i class="icon-instagram"></i></a>
            <a href="#"> <i class="icon-twitter"></i></a>
        </div>
        <div class="text-info"><span>SKU:</span>12</div>
        <div class="text-info"><span>Categories: </span> Fashion, Style</div>
    </div>
</div>
